<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
  <%=t 'sort.sorted' %> <span id="current-sort-type"><%=t 'sort.by_updated_at' %></span>
  <span class="caret"></span>
</button>
<ul class="dropdown-menu" role="menu" data-no-turbolink>
  <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="sort-trigger" data-sort-attr="data-start-date" data-sort-order="asc"><%=t 'sort.by_start_date' %></a></li>
  <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="sort-trigger" data-sort-attr="data-updated-at" data-sort-order="desc"><%=t 'sort.by_updated_at' %></a></li>
</ul>
