<div class="col-md-4 welcome-section">
  <a href='#offers'>
    <div class='centered-content'>
      <i class="fa fa-car welcome-icon"></i>
    </div>
    <div class='centered-content'>
      Finde eine Mitfahrgelegenheit zur studikon oder lege ein neues Angebot an.
    </div>
  </a>
</div>
<div class="col-md-4 welcome-section">
  <a href='#requests'>
    <div class='centered-content'>
      <i class="fa fa-search welcome-icon"></i>
    </div>
    <div class='centered-content'>
      Schau dir existierende Gesuche an oder erstelle ein Neues.
    </div>
  </a>
</div>
<div class="col-md-4 welcome-section">
  <div class='centered-content'>
    <i class="fa fa-home welcome-icon"></i>
  </div>
  <div class='centered-content'>
    Mitfahrgelegenheiten für die Rückfahrt werden wir auf der studikon sammeln.
  </div>
</div>
