<h1><%=t 'helpers.fahrsammlung' %></h1>

<p>
  Fahrsammlung ist eine Seite zum Finden von Mitfahrgelegenheiten zur
  <%= link_to 'studikon 2019', 'https://studikon.smd.org/start/', target: "_blank" %> in Aschaffenburg.
  Entstanden ist sie als eine rudimentär variierte Version der Software von <%= link_to 'Kaheim', 'https://kaheim.de/', target: "_blank" %>,
  einer Zimmerbörse, die in Karlsruhe genutzt wird.
</p>
