googleMapsLoaded = false

document.addEventListener "turbolinks:load", ->
  if (googleMapsLoaded)
    initMap()

@initMap = () =>
  googleMapsLoaded = true
  element = document.getElementById('map')
  if (!element)
    return
  mapOptions =
    center:
      lat: 48.984964
      lng: 8.3343002
    zoom: 5
    mapTypeId: google.maps.MapTypeId.ROADMAP
    mapTypeControl: false
    streetViewControl: false
  map = new google.maps.Map(element, mapOptions)

#  contentString = '<div id="content">'+
#    '<div id="siteNotice">'+
#    '</div>'+
#    '<h1 id="firstHeading" class="firstHeading">Uluru</h1>'+
#    '<div id="bodyContent">'+
#    '<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large ' +
#    'sandstone rock formation in the southern part of the '+
#    'Northern Territory, central Australia. It lies 335&#160;km (208&#160;mi) '+
#    'south west of the nearest large town, Alice Springs; 450&#160;km '+
#    '(280&#160;mi) by road. Kata Tjuta and Uluru are the two major '+
#    'features of the Uluru - Kata Tjuta National Park. Uluru is '+
#    'sacred to the Pitjantjatjara and Yankunytjatjara, the '+
#    'Aboriginal people of the area. It has many springs, waterholes, '+
#    'rock caves and ancient paintings. Uluru is listed as a World '+
#    'Heritage Site.</p>'+
#    '<p>Attribution: Uluru, <a href="https://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">'+
#    'https://en.wikipedia.org/w/index.php?title=Uluru</a> '+
#    '(last visited June 22, 2009).</p>'+
#    '</div>'+
#    '</div>'

  images =
    offer: '<%= asset_path('map/offer.png') %>'
    request: '<%= asset_path('map/request.png') %>'
    revive: '<%= asset_path('map/revive.png') %>'

  reviveMarker = new google.maps.Marker
    position:
      lat: 48.9806755
      lng: 8.3287053
    map: map
    icon: images['revive']

  reviveMarker.addListener 'click', ->
    window.open('https://www.reviveeurope.org/', '_blank')

  markers = []
  infoWindows = []
  marker_data.forEach (marker_entry) =>
    marker = new google.maps.Marker
      position: marker_entry.position
      map: map
      icon: images[marker_entry.type]
    infoWindow = new google.maps.InfoWindow({
      content: "<p><a href='revive/#{marker_entry.type}s/#{marker_entry.item_id}'><strong>#{marker_entry.location}:</strong> #{marker_entry.title}</a></p>"
    })
    marker.addListener 'click', ->
      infoWindow.open(map, marker)
    markers << marker
    infoWindows << infoWindow
